<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  {% load static %}
  <!-- favicon -->
  <link rel="icon" href="{%  static 'images/chat-bubble.ico' %}" type="image/x-icon">
  <!-- CSS FILES -->
  <link rel="stylesheet" href="{% static 'css/userValidation.css' %}">


</head>

<body>

  <div class="form-container form-1">
    <div class="form-image">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1300 148">
        <path fill="white" fill-rule="evenodd"
          d="M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z"
          transform="matrix(-1 0 0 1 1600 0)" />
      </svg>
    </div>
    <div class="padding-wrap">
      <h1>Create an Account</h1>

      <form id="sign-up-1" action="">

        <div class="form-group">
          <input required id="username" type="text" />
          <label for="name">Name</label>
        </div>

        <div class="form-group">
          <input required id="email" type="text" /> 
          <label for="email">Email</label>
        </div>

        <input type="submit" value="Get Started" />

      </form>

      <span class="login">Already have an account? <a id="log-in">Log in.</a></span>
    </div>
  </div>

  <div class="form-container form-2">
    <div class="form-image">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1300 148">
        <path fill="white" fill-rule="evenodd"
          d="M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z"
          transform="matrix(-1 0 0 1 1600 0)" />
      </svg>
    </div>
    <div class="padding-wrap">
      <h1>Set Your Password</h1>

      <form id="sign-up-2" action="">

        <div class="form-group">
          <input required id="pass" type="password" />
          <label for="pass">Password</label>
        </div>

        <div class="form-group">
          <input required id="pass2" type="text" />
          <label for="pass2">Confirm Password</label>
        </div>

        <input type="submit" value="Sign Up" id="sign-up-btn"/>

      </form>

      <span id="back" class="login"><a>Go back.</a></span>
    </div>
  </div>

  <div class="form-container form-3">
    <div class="form-image">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1300 148">
        <path fill="white" fill-rule="evenodd"
          d="M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z"
          transform="matrix(-1 0 0 1 1600 0)" />
      </svg>
    </div>
    <div class="padding-wrap">
      <h1>Login</h1>

      <form id="log-in-1" action="">

        <div class="form-group">
          <input required id="emailin" type="text" />
          <label for="emailin">Email</label>
        </div>

        <div class="form-group">
          <input required id="passin" type="password" />
          <label for="passin">Password</label>
        </div>

        <div class="checkbox">
          <input type="checkbox" name="remember" id="remember" unchecked/>
          <label for="remember">Remember me</label>
        </div>        

        <input type="submit" value="Log in" id="log-in-btn"/>

      </form>

      <span class="login">No account? <a id="go-to-signup">Sign up.</a></span>

      {% if group_id %}
      <input type="hidden" class="hidden-attributes group_id" value="{{ group_id }}">
      {% endif %}
      {% if login_type %}
      <input type="hidden" class="hidden-attributes loginType" value="{{ login_type }}">
      {% endif %}
      {% if group_name %}<input type="hidden" class="hidden-attributes group_name" value="{{ group_name }}">{% endif %}
      {% if group_dp %}<input type="hidden" class="hidden-attributes group_dp" value="{{ group_dp }}">{% endif %}

    </div>
  </div>

  {% csrf_token %}
  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="{% static 'js/userValidation.js' %}"></script>
</body>

</html>